h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

/*MAIN*/
main > *, footer {
  padding: 50px 0;
}

main span:not(#terms, .ice, .custom-glyph, section.regions span, footer) {/*Al validatore CSS 'w3.org' questo non piace (e forse concettualmente neanche a me); gli inspector di Chrome e Firefox non segnalano alcun problema. Chi ha ragione?*/
  color: #717d97;
}

/*SECTION-HERO*/
section.hero {
  background: url('../img/bg-banner-home.jpg');
  background-size: cover;
}

/*SECTION-CUSTOMERS*/
section.customers {
  background-color: #f3f5f9;
  padding: 40px 0 20px;
}

section.customers img {
  width: 100%;
  height: 100px;
}

/*SECTION-DEPLOYMENT*/
section.deployment ul {
  list-style-type: none;
  padding: 0;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #717d97;
} 

section.deployment ul li a {
  display: block;
  color: #717d97;
  padding: 8px 16px;
}

section.deployment ul li a:hover {
  background-color: #f1f1f1;
}

main [class*="col-"] > .content {
  margin: 15px 0;  
}

section.deployment h4 {
  margin-top: 15px;
}

/*SECTION-DEVELOPMENT*/
section.development {
  background-color: #f3f5f9;
}

section.development .center-block {
  max-width: 50%;
}

section.development .center-block .arrow {
  width: 5%;
  float: left;
}

section.development .center-block .carousel {
  width: 90%;
  float: left;
}

/*SECTION-FEATURES*/

/*SECTION-REGIONS*/
.bg-blue {
  background-color: #003dbb;
}
/*A seguire, promemoria per un piccolo framework da costruire, alterando alcune caratteristiche salienti di 'Bootstrap'.*/
section.regions .col-md-6 > .row {
  line-height: 40px;
  margin-left: 0;/*!?!?!?!?!?!?!?*/
  margin-right: 0;/*!?!?!?!?!?!?!?*/
}

section.regions .col-md-6 > .row:first-child {
  margin-top: 15px;/*!?!?!?!?!?!?!?*/
}

section.regions .col-md-6 > .row:not(:last-child) {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: white;
}

section.regions .col-md-6 > .row > [class*="col-"]:nth-child(2),
section.regions .col-md-6 > .row > [class*="col-"]:nth-child(3) a {
  color: #bbcaf9;
}

@media screen and (max-width: 500px) {

  section.regions .row .col-md-6 > .row > * {
    padding: 0;/*!?!?!?!?!?!?!?*/
  }

}

/*SECTION-START_NOW*/

/*FOOTER*/
footer {
  background-color: #031c4e;
}

footer [class*="col-"] ul h4 {
  color: white;
}

footer [class*="col-"] ul li:not(:last-child) {
  display: block;
  margin-bottom: 10px;
}

footer [class*="col-"] ul li a {
  color: #bbcaf9;
}

footer .social span {
  display: inline-block;
  margin-right: 15px;
}