h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

/*MAIN*/
main > *, footer {
  padding: 50px 0;
}

/*SECTION-HERO*/
section.hero {
  background: url('../img/bg-banner-home.jpg');
  background-size: cover;
}

/*SECTION-CUSTOMERS*/
section.customers {
  background-color: #f3f5f9;
  padding: 40px 0 20px;
}

section.customers img {
  width: 100%;
  height: 100px;
}

/*SECTION-DEPLOYMENT*/
section.deployment span, section.features span:not(.custom-glyph) {
  color: #717d97;
}

section.deployment ul {
  list-style-type: none;
  padding: 0;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #717d97;
} 

section.deployment ul li a {
  display: block;
  color: #717d97;
  padding: 8px 16px;
}

section.deployment ul li a:hover {
  background-color: #f1f1f1;
}

main [class*="col-"] > .content {
  margin: 30px 0;  
}

section.deployment h4 {
  margin-top: 15px;
}

/*SECTION-DEVELOPMENT*/
section.development, section.reviews {
  background-color: #f3f5f9;
}

.slider.center-block {
  max-width: 70%;
}

.slider.center-block > * {
  display: inline-block;
  vertical-align: middle;
}

.slider.center-block .arrow {
  width: 10%;
}

.slider.center-block .carousel {
  width: 80%;
  
}

section.development ul, section.reviews ul {
  padding: 0;
}

section.development ul li, section.reviews ul li {
  display: inline;
}

span.bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #003dbb;  
}

span.bullet.full {
  background-color: #003dbb;
}

/*SECTION-FEATURES*/

/*SECTION-REGIONS*/
.bg-blue {
  background-color: #003dbb;
}
/*Variazione consapevole di alcune caratteristiche salienti di 'Bootstrap'.*/
section.regions .col-md-6 > .row {
  line-height: 40px;
  margin-left: 0;/*!?!?!?!?!?!?!?*/
  margin-right: 0;/*!?!?!?!?!?!?!?*/
}

section.regions .col-md-6 > .row:first-child {
  margin-top: 15px;/*!?!?!?!?!?!?!?*/
}

section.regions .col-md-6 > .row:not(:last-child) {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: white;
}

section.regions .col-md-6 > .row > [class*="col-"]:nth-child(2),
section.regions .col-md-6 > .row > [class*="col-"]:nth-child(3) a {
  color: #bbcaf9;
}

@media screen and (max-width: 500px) {

  section.regions .row .col-md-6 > .row > * {
    padding: 0;/*!?!?!?!?!?!?!?*/
  }

}

/*SECTION-REVIEWS*/
section.reviews .slider.center-block .carousel {
  background-color: white;
  padding: 50px 0;
  border-radius: 8px;
}

section.reviews .slider.center-block .carousel img {
  margin: auto;
}

/*SECTION-START_NOW*/

/*FOOTER*/
footer {
  background-color: #031c4e;
}

footer [class*="col-"] ul h4 {
  color: white;
}

footer [class*="col-"] ul li:not(:last-child) {
  display: block;
  margin-bottom: 10px;
}

footer [class*="col-"] ul li a {
  color: #bbcaf9;
}

footer .social span {
  display: inline-block;
  margin-right: 15px;
}