/*DISPLAY*/
.inl-blk {
  display: inline-block;
}

.blk {
  display: block;
}

/*POSITION*/
.custom-glyph {
  top: 2px;
  left: 3px;
}

/*FONT*/
.fsz-15 {
  font-size: 15px;
}

.fsz-25 {
  font-size: 25px;
}

.fsz-30 {
  font-size: 30px;
}

.fsz-45 {
  font-size: 45px;
}

/*MARGIN*/
.m-0 {
  margin: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

/*COLOR*/
.white {
  color: white;
}

.ice {
  color: #bbcaf9;
}

.my-grey {
  color: #717d97;
}

.my-blue {
  color: #003dbb;
}