.border {
  border: 1px solid black;
}

.h-80 {
  height: 80px;
}

.fsz-45 {
  font-size: 45px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.white {
  color: white;
}

.ice {
  color: #bbcaf9;
}

.grey {
  color: #717d97;
}